/* 
    Document   : odds
    Created on : Nov 27, 2012, 11:15:26 AM
    Author     : Pascal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

